// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 20px;
}
#bio {
  margin: 13px 5px 10px;
  font-family: "Times New Roman", Georgia, serif;
}
.h3 {
font-size: 19px;
}
.comments {
  font-size: 15px;
  padding-bottom: 10px;
}

.favs {
  padding-top: 5px;
  padding-bottom: 8px;
  font-size: 20px;
  font-family: serif;
}
.tools {
  padding: 8px;
  font-size: 19px;
}
#comments {
  margin-top: 5px;
}
#following{
float: inherit;
margin-right: 25px;
}
